root {
  --maincolor: #607d8b;
}

#url-input:focus {
  border-bottom: 1px solid var(--maincolor);
  box-shadow: 0 1px 0 0 var(--maincolor);
}
#url-icon {
  color: var(--maincolor);
}

#copied-badge {
  display: none;
}

a {
  color: inherit;
}
